@import "tailwindcss";

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('fonts/SpaceGrotesk-Regular.ttf') format('truetype');
}

/* Custom scan button states */
@utility scan-off {
    background-color: var(--color-indigo-500);
    color: white;
    &:hover {
        background-color: var(--color-green-500);
    }
}

@utility scan-on {
    background-color: var(--color-indigo-500);
    color: white;
    &:hover {
        background-color: var(--color-red-500);
    }
}
